.container {
  width: 80%;
  margin: 50px auto;
}

textarea {
  width: 400px;
  height: 100px;
  background: #eee;
  padding: 10px;
  border-radius: 2px;
}

.word-count {
  color: black;
  font-weight: bold;
}

